<mat-sidenav-container fxFlex>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/new">
        <span>
          <mat-icon>add</mat-icon> New issue
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let issue of issues | async" [routerLink]="['/', issue.id]">
        <mat-icon mat-list-icon>{{ _iconDict[issue.item.type] }}</mat-icon>
        <h4 mat-line>{{ issue.item.title }}</h4>
        <p mat-line>{{ issue.description | truncate }}</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
