<md-toolbar>
  <nav>
    <a md-button routerLink="/" routerLinkActive="active">
      <md-icon>new_releases</md-icon>
      Latest Issues
    </a>
    <a md-button routerLink="/list" routerLinkActive="active">
      <md-icon>list</md-icon>
      All Issues
    </a>
    <a md-button routerLink="/new" routerLinkActive="active">
      <md-icon>add</md-icon>
      New Issue
    </a>
    <a md-button routerLink="/settings" routerLinkActive="active">
      <md-icon>settings</md-icon>
      Settings
    </a>
  </nav>

  <span class="toolbar-spacer"></span>
	<md-input-container>
    	<input mdInput placeholder="Search">
	</md-input-container>
  <h1>Test</h1>
</md-toolbar>