<mat-toolbar>
  <span>Plex Issues</span>
  <!-- <nav *ngIf="authService.loggedIn">
    <a mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>new_releases</mat-icon>
      Latest Issues
    </a>
    <a mat-button routerLink="/list" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      All Issues
    </a>
    <a mat-button routerLink="/new" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      New Issue
    </a>
  </nav> -->

  <!--<span class="toolbar-spacer"></span>
	<mat-input-container>
    	<input matInput placeholder="Search">
	</mat-input-container>-->
</mat-toolbar>
