<h1>All issues</h1>
<md-select placeholder="Sort" [(ngModel)]="sort" name="sort" (change)="getIssues()">
    <md-option *ngFor="let option of sortOptions" [value]="option.value">{{ option.name }}</md-option>
</md-select>

<md-select placeholder="Status" [(ngModel)]="status" name="status" (change)="getIssues()">
    <md-option *ngFor="let option of statusFilterOptions" [value]="option.value">{{ option.name }}</md-option>
</md-select>

<md-spinner *ngIf="!issues"></md-spinner>
<plexissues-issues [issues]="issues | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }"></plexissues-issues>

<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }">Spin</div>
    <pagination-controls (pageChange)="getIssues($event)" id="server"></pagination-controls>
</div>