<h1 fxLayout="row" fxLayoutAlign="center center">All issues</h1>
<mat-select placeholder="Sort" [(ngModel)]="sort" name="sort" (change)="getIssues(1)">
  <mat-option *ngFor="let option of sortOptions" [value]="option.value">{{ option.name }}</mat-option>
</mat-select>

<mat-select placeholder="Status" [(ngModel)]="status" name="status" (change)="getIssues(1)">
  <mat-option *ngFor="let option of statusFilterOptions" [value]="option.value">{{ option.name }}</mat-option>
</mat-select>

<mat-spinner *ngIf="loading"></mat-spinner>

<!--
<div fxLayoutWrap="wrap">
  <plexissues-issue-card [issue]="issue" fxFlex="50" *ngFor="let issue of issues | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }"></plexissues-issue-card>
</div>

<div class="has-text-centered">
    <pagination-controls (pageChange)="getIssues($event)" id="server"></pagination-controls>
</div> -->
