<md-card class="new-issue-card" fxFlexOffset="35" fxFlex="30">
  <md-card-title>New issue</md-card-title>
  <md-card-content>
    <form [formGroup]="issueForm" novalidate (ngSubmit)="createIssue(issueForm.value, issueForm.valid)" fxLayout="column" >
      <md-input-container>
        <input mdInput type="text" placeholder="Plex Item" formControlName="plexitem" [mdAutocomplete]="auto">
      </md-input-container>

      <md-select placeholder="Type" formControlName="type" class="issueform-control">
        <md-option [value]="'language'">Language</md-option>
        <md-option [value]="'quality'">Quality</md-option>
        <md-option [value]="'subtitle'">Subtitles</md-option>
      </md-select>

      <md-input-container class="issueform-control">
        <textarea
          mdInput
          type="text"
          placeholder="Description"
          formControlName="description"
          mdTextereaAutosize></textarea>
      </md-input-container>

      <button md-raised-button type="submit" [disabled]="!issueForm.valid">Submit</button>
    </form>
  </md-card-content>
</md-card>

<md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
  <md-option *ngFor="let item of (plexItems | async)" [value]="item">
    <md-icon>{{ dict[item.type] }}</md-icon>
    <span>{{ item.title }}</span>
  </md-option>
</md-autocomplete>